{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2>les liens :</h2>
    <a href="{{ path("app_dumplings") }}">Les dumplings</a>
{% endblock %}
